version: "3.8"

services:
  mailpit:
    image: axllent/mailpit:latest
    container_name: mailpit
    ports:
      - "1025:1025"
      - "8025:8025"
    environment:
      MP_DATA_FILE: /data/mailpit.db
    volumes:
      - mailpit-data:/data

volumes:
  mailpit-data:
